{
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "parser": "json"
      }
    },
    {
      "files": "*.jsonc",
      "options": {
        "parser": "json"
      }
    }
  ]
}
